<b:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:b="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

  <http auto-config="true" use-expressions="true">

    <csrf disabled="true"/>

    <intercept-url pattern="/statics/**" access="permitAll()"/>
    <intercept-url pattern="/error/**" access="permitAll()"/>
    <intercept-url pattern="/*.txt" access="permitAll()"/>
    <intercept-url pattern="/*.ico" access="permitAll()"/>

    <intercept-url pattern="/aboutus/**" access="permitAll()"/>
    <intercept-url pattern="/special/**" access="permitAll()"/>

    <intercept-url pattern="/api/user/**" access="hasRole('ADMIN')"/>
    <intercept-url pattern="/admin/**" access="hasRole('USER')"/>

    <intercept-url pattern="/api/**" access="permitAll()"/>

    <form-login default-target-url="/admin/" always-use-default-target="false"/>
    <logout/>
  </http>

  <authentication-manager>
    <authentication-provider user-service-ref="customUserDetailService">
      <password-encoder ref="bcryptEncoder"/>
    </authentication-provider>
  </authentication-manager>

  <b:bean name="bcryptEncoder"
    class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
  <b:bean id="customUserDetailService" class="cn.ghy.security.CustomUserDetailService"/>
</b:beans>